@import '@fontsource/inter/400.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #ffffff;

  position: relative;

  &:hover {
    transition: all 0.2s ease-in-out;
    color: #ff0000;
  }

  &:after {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: currentColor;
    bottom: 0;
    left: 0;
    margin-right: none;
    transition:
      margin 0.2s ease-in-out,
      width 0.2s ease-in-out;
  }

  &:hover:after {
    margin-right: auto;
    width: 100%;
  }
}
